name: Build

on: [push, pull_request]

jobs:

  validate-data:
    name: Validate Metadata
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Create Build Environment
      run: cd contrib/ci/ && podman build -t intanrhx_validate -f ./Dockerfile-debian-testing .

    - name: Validate metainfo
      run: podman run -t -v `pwd`:/build intanrhx_validate
           appstreamcli validate --pedantic --explain contrib/com.intantech.intan_rhx.metainfo.xml

    - name: Validate desktop-entry file
      run: podman run -t -v `pwd`:/build intanrhx_validate
           desktop-file-validate contrib/com.intantech.intan_rhx.desktop


  build-debian:
    name: Debian Stable
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Create Build Environment
      run: cd contrib/ci/ && podman build -t intanrhx -f Dockerfile-debian .

    - name: Build
      run: |
        podman run -t -e CI=true -e DEBEMAIL=no-reply@intantech.com -v `pwd`:/build intanrhx \
            ./contrib/ci/auto-build-deb.sh

    - name: Upload Debian package artifact
      uses: actions/upload-artifact@v4
      with:
        name: Debian Package
        path: |
          result/*.deb
          result/*.build*


  build-ubuntu-latest:
    name: Ubuntu LTS
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Create Build Environment
      run: cd contrib/ci/ && podman build -t intanrhx -f Dockerfile-ubuntu .

    - name: Build
      run: |
        podman run -t -e CI=true -e DEBEMAIL=no-reply@intantech.com -v `pwd`:/build intanrhx \
            ./contrib/ci/auto-build-deb.sh

    - name: Upload Ubuntu package artifact
      uses: actions/upload-artifact@v4
      with:
        name: Ubuntu LTS Package
        path: |
          result/*.deb
          result/*.build*
